.app-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  width: 100%;
}

/* Waffle Button */
.waffle-btn-container {
  position: relative;
}

.waffle-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.waffle-btn:hover {
  background: rgba(0, 0, 0, 0.1);
}

/* Popup */
.waffle-popup {
  position: absolute;
  top: 42px;
  right: 5px;
  background: rgb(70, 68, 68);
  border-radius: 28px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 5px 0 5px 5px;
  animation: dropdownFade 0.2s ease;
  z-index: 1000;
  overflow-y: scroll;
  min-width: max-content;
  max-height: 448px;
}

.waffle-container {
  background: url('https://clubchain.dropworks.app/static/media/2560x1440.a0ca60925711082fa877.png') 0% 0% / 100% 100% no-repeat fixed;
  padding: 24px;
  border-radius: 24px;
}
.waffle-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-container {
  border-radius: 12px;
  width: 250px;
}

.menu-header {
  display: flex;
  align-items: end;
  gap: 12px;
}

.menu-icon {
  width: 75px;
  height: 75px;
  border-radius: 8px;
  object-fit: cover;
  cursor: pointer;
}

.menu-title {
  font-size: 16px;
  font-weight: 600;
  color: #ffd817;
  cursor: pointer;
}

/* SUBMENUS */
.sub-menu-container {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.sub-menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.2s ease;
  cursor: pointer;
}
.sub-menu-icon {
  border-radius: 6px;
  object-fit: cover;
  cursor: pointer;
}

.sub-menu-label {
  font-size: 14px;
  color: #222;
  font-weight: 500;
}

/* Animation */
@keyframes dropdownFade {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Scrollbar */
.waffle-popup::-webkit-scrollbar {
  width: 5px !important;
}

.waffle-popup::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 12px;
  width: 8px !important;
}

.waffle-popup::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 12px;
  backdrop-filter: blur(4px);
}

.waffle-popup::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.55);
}

/* ===========================
   MOBILE  - max 480px
=========================== */
@media (max-width: 480px) {
  .waffle-popup {
    right: 5px;
    width: 100%;
    border-radius: 30px;
    top: 50px !important;
    max-height: 50vh;
  }

  .waffle-container {
    padding: 16px;
  }

  .waffle-menu {
    gap: 14px;
  }

  .menu-header {
    gap: 10px;
  }

  .menu-title {
    font-size: 14px;
  }

  .sub-menu-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .menu-icon {
    width: 55px;
    height: 55px;
  }

  .sub-menu-icon {
    width: 50px;
    height: 50px;
  }

  .menu-container {
    border-radius: 12px;
    width: 200px;
  }
}

/* ===========================
   TABLET - 481px to 1024px
=========================== */
@media (min-width: 481px) and (max-width: 1024px) {
  .waffle-popup {
    right: 5px;
    width: 240px;
    max-height: 420px;
  }

  .menu-container {
    border-radius: 12px;
    width: 240px;
  }

  .sub-menu-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .menu-icon {
    width: 65px;
    height: 65px;
  }

  .sub-menu-icon {
    width: 60px;
    height: 60px;
  }
}

/* ===========================
   LAPTOP - 1025px to 1440px
=========================== */
@media (min-width: 1025px) and (max-width: 1440px) {
  .waffle-popup {
    width: 300px;
  }

  .sub-menu-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .menu-icon {
    width: 70px;
    height: 70px;
  }

  .sub-menu-icon {
    width: 65px;
    height: 65px;
  }
}

/* ===========================
   LARGE SCREENS - 1441px+
=========================== */
@media (min-width: 1441px) {
  .waffle-popup {
    width: 300px;
  }

  .sub-menu-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .menu-icon {
    width: 75px;
    height: 75px;
  }

  .sub-menu-icon {
    width: 70px;
    height: 70px;
  }
}
