.app-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  width: 100%;
}

/* Waffle Button */
.waffle-btn-container {
  position: relative;
}

.waffle-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.waffle-btn:hover {
  background: rgba(0, 0, 0, 0.1);
}

/* Popup */
.waffle-popup {
  position: absolute;
  top: 60px;
  right: 5px;
  background:rgb(48 47 47);
  border-radius: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 10px 0 10px 10px;
  animation: dropdownFade 0.2s ease;
  z-index: 1000;
  overflow-y: scroll;
  min-width: max-content;
  max-height: 600px;
}

.waffle-container {
  background: url('https://clubchain.dropworks.app/static/media/2560x1440.a0ca60925711082fa877.png') 0% 0% / 100% 100% no-repeat fixed;
  padding: 20px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.waffle-menu {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.menu-container {
  border-radius: 12px;
  width: 340px;
}

.menu-header {
  display: grid;
  flex-wrap: wrap;
  gap:0px;
  /* justify-content: space-between; */
  grid-template-columns: repeat(3, 1fr);
}

.menu-icon {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
  cursor: pointer;
}

.menu-title {
  font-size: 16px;
  font-weight: 600;
  color: #ffd817;
  cursor: pointer;
}

/* SUBMENUS */
.sub-menu-container {
  display: grid;
  flex-wrap: wrap;
  gap:0px;
  /* justify-content: space-between; */
  grid-template-columns: repeat(3, 1fr);
}

.sub-menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.2s ease;
  cursor: pointer;
}
.sub-menu-icon {
  border-radius: 6px;
  object-fit: cover;
  cursor: pointer;
}

.sub-menu-label {
  font-size: 14px;
  color: #222;
  font-weight: 500;
}

/* Animation */
@keyframes dropdownFade {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Scrollbar */
.waffle-popup::-webkit-scrollbar {
  width: 10px !important;
}

.waffle-popup::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 12px;
  width: 10px !important;
  border: none;
  margin-bottom: 34px;
  margin-top: 34px;
}

.waffle-popup::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 12px;
  backdrop-filter: blur(4px);
}

.waffle-popup::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.55);
}

/* ===========================
   MOBILE  - max 480px
=========================== */
@media (max-width: 480px) {
  .waffle-popup {
    right: 5px;
    width: 100%;
    border-radius: 30px;
    top: 50px !important;
    max-height: 50vh;
  }

  .waffle-container {
    padding: 16px;
  }

  .waffle-menu {
    gap: 14px;
  }

  .menu-header {
    gap: 10px;
  }

  .menu-title {
    font-size: 14px;
  }

  .sub-menu-container {
    display: grid;
    flex-wrap: wrap;
    gap:0px;
    /* justify-content: space-between; */
    grid-template-columns: repeat(3, 1fr);
  }
  .menu-icon {
    height: 100%;
    width: 100%;
  }

  .sub-menu-icon {
    height: 100%;
    width: 100%;
  }

  .menu-container {
    width: 300px;
  }
}

/* ===========================
   TABLET - 481px to 1024px
=========================== */
@media (min-width: 481px) and (max-width: 1024px) {
  .waffle-popup {
    right: 5px;
  }

  .menu-container {
    border-radius: 12px;
  }


  .waffle-popup {
    height: 480px;
  }

  .menu-container {
    width: 250px;
  }

  .sub-menu-container {
    display: grid;
    flex-wrap: wrap;
    gap:0px;
    /* justify-content: space-between; */
    grid-template-columns: repeat(3, 1fr);
  }

  .menu-icon {
    height: 100%;
    width: 100%;
  }

  .sub-menu-icon {
    height: 100%;
    width: 100%;
  }
}

/* ===========================
   LAPTOP - 1025px to 1440px
=========================== */
@media (min-width: 1025px) and (max-width: 1440px) {
  .sub-menu-container {
    display: grid;
    flex-wrap: wrap;
    gap:0px;
    /* justify-content: space-between; */
    grid-template-columns: repeat(3, 1fr);
  }
  .waffle-popup {
    height: 480px;
  }

  .menu-container {
    width: 300px;
  }

  .menu-icon {
    height: 100%;
    width: 100%;
  }

  .sub-menu-icon {
    height: 100%;
    width: 100%;
  }
}

/* ===========================
   LARGE SCREENS - 1441px+
=========================== */
@media (min-width: 1441px) {

  .sub-menu-container {
    display: grid;
    flex-wrap: wrap;
    gap:0px;
    /* justify-content: space-between; */
    grid-template-columns: repeat(3, 1fr);
  }

  .menu-icon {
    height: 100%;
    width: 100%;
  }

  .sub-menu-icon {
    height: 100%;
    width: 100%;
  }
}
